body{
	font-family: Raleway, Montserrat, Lato, sans-serif;
	margin: 0;
	color: #000;
}

.jumbotron { 
	font-family: Montserrat, sans-serif;
	background-color: #2d2d30; 
}
.jumbotron h2 {
	font-size: 35px;
	color: #f2f2f3;
	margin-left: 20px;
}

.navbar {
	font-family: Montserrat, sans-serif;
	margin-bottom: 0;
	background-color: #2d2d30;
	z-index: 9999;
	border: 0;
	font-size: 11px !important;
	letter-spacing: 4px;
	opacity: 0.9;
	border-radius: 0;
}
.navbar li a, .navbar .navbar-brand {
	color: #d5d5d5 !important;
}
.navbar-nav li a:hover {
	color: #fff !important;
}
.navbar-nav li.active a {
	color: #fff !important;
	background-color: #29292c !important;
}
.navbar-default .navbar-toggle {
	border-color: transparent;
}

#tableau {
	margin-left: 5px;
	margin-right: 5px;
}
#tableau thead tr {
	background-color: #2C3034;
	color: #fff;
	margin: 2px 1px 0 1px;
	letter-spacing: 2px;
	font-size: 14px;
}

#ligne-tableau tr {
	background-color: #F9FAFA;
	font-weight: 100;
	font-size: 13px;
	letter-spacing: 1px;
}
#ligne-tableau tr:hover {
	background-color: #EAEAEA;
}
