<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head> 
	<meta charset="utf-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat|Raleway:200" rel="stylesheet"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  	
  	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">

  	<link rel="stylesheet" href="css/styleListe.css" type="text/css" >
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
	<script type="text/javascript" src="listeJS.js"></script>
	
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container-fluid">
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>                        
		  </button>
		  <!-- 
		  <a class="navbar-brand" href="#myPage">Logo</a>
		   -->
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
		  <ul class="nav navbar-nav navbar-right">
			<li><a href="/">HOME</a></li>
			<li><a href="/#projet">A PROPOS</a></li>
			<li><a href="/listeDesEtablissements">LISTE DES ETABLISSEMENTS</a></li>
			<li><a href="#">LIEN</a></li>
			<li><a href="#">LIEN</a></li>
		  </ul>
		</div>
	  </div>
	</nav>
	
	<div class="jumbotron">
		<h2>Liste des établissements</h2>
	</div>
	
	<div class="table-responsive" id="tableau">
		<table id="tableauEtablissement" class="table table-hover table-bordered" width="100%">
			<thead >
				<tr>
					<th>NOM</th>
					<th>TYPE</th>
					<th>STATUT</th>
					<th>ADRESSE</th>
					<th>CODE POSTAL</th>
					<th>VILLE</th>
					<th>DEPARTEMENT</th>
					<th>REGION</th>
				</tr>
			</thead>
			<tbody id="ligne-tableau">
				<tr th:each="etablissement: ${etablissements}">
					<th th:text="${etablissement.nom_etablissement}">Oranges</th>
					<th th:text="${etablissement.type_etablissement}">Bananes</th>
					<th th:text="${etablissement.statut_public_prive}">Pommes</th>
					<th th:text="${etablissement.adresse_1}">Oranges</th>
					<th th:text="${etablissement.code_postal}">Bananes</th>
					<th th:text="${etablissement.libelle_academie}">Pommes</th>
					<th th:text="${etablissement.libelle_departement}">Bananes</th>
					<th th:text="${etablissement.libelle_region}">Pommes</th>
				</tr>
			</tbody>
		</table>	
	</div>
</body>
</html>
