<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<title>Annuaire des établissements - Modifier établissement</title>
	<meta charset="utf-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat|Raleway:200" rel="stylesheet"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	
	<script type="text/javascript" src="listeJS.js"></script>

  	<link rel="stylesheet" href="css/styleListe.css" type="text/css" >
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container-fluid">
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>                        
		  </button>
		  <!-- 
		  <a class="navbar-brand" href="#myPage">Logo</a>
		   -->
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
		  <ul class="nav navbar-nav navbar-left">
			<li><a href="/">HOME</a></li>
			<li><a href="/#projet">A PROPOS</a></li>
		  </ul>
		  <ul class="nav navbar-nav navbar-right">
			<li><a href="/listeDesEtablissements">LISTE DES ETABLISSEMENTS</a></li>
			<li><a href="/rechercheCodePostal">RECHERCHE PAR CODE POSTAL</a></li>
			<li><a href="/modifierEtablissement">MODIFIER UN ETABLISSEMENT</a></li>
		  </ul>
		</div>
	  </div>
	</nav>
	
	<div class="jumbotron">
		<h2>Modifier la fiche d'un établissement</h2>
	</div>
	
	<div>
		<input type="text" placeholder="Identifiant de l'établissement" id="id">
		<img src="images/search.png" onclick="reloadUrlMAJ()">
	</div>
	
	<div th:each="etablissement: ${etablissements}">
		<input type="text" th:value="${etablissement.identifiantdeletablissement}"/>
		<input type="text" th:value="${etablissement.nometablissement}"/>
		<input type="text" th:value="${etablissement.typeetablissement}"/>
		<input type="text" th:value="${etablissement.statutpublicprive}"/>
		<input type="text" th:value="${etablissement.adresse1}"/>
		<input type="text" th:value="${etablissement.adresse2}"/>
		<input type="text" th:value="${etablissement.adresse3}"/>
		<input type="text" th:value="${etablissement.codepostal}"/>
		<input type="text" th:value="${etablissement.codecommune}"/>
		<input type="text" th:value="${etablissement.nomcommune}"/>
		<input type="text" th:value="${etablissement.codedepartement}"/>
		<input type="text" th:value="${etablissement.codeacademie}"/>
		<input type="text" th:value="${etablissement.coderegion}"/>
		<input type="text" th:value="${etablissement.ecolematernelle}"/>
		<input type="text" th:value="${etablissement.ecoleelementaire}"/>
		<input type="text" th:value="${etablissement.voiegenerale}"/>
		<input type="text" th:value="${etablissement.voietechnologique}"/>
		<input type="text" th:value="${etablissement.voieprofessionnelle}"/>
		<input type="text" th:value="${etablissement.telephone}"/>
		<input type="text" th:value="${etablissement.fax}"/>
		<input type="text" th:value="${etablissement.web}"/>
		<input type="text" th:value="${etablissement.mail}"/>
		<input type="text" th:value="${etablissement.restauration}"/>
		<input type="text" th:value="${etablissement.hebergement}"/>
		<input type="text" th:value="${etablissement.ulis}"/>
		<input type="text" th:value="${etablissement.apprentissage}"/>
		<input type="text" th:value="${etablissement.segpa}"/>
		<input type="text" th:value="${etablissement.sectionarts}"/>
		<input type="text" th:value="${etablissement.sectioncinema}"/>
		<input type="text" th:value="${etablissement.sectiontheatre}"/>
		<input type="text" th:value="${etablissement.sectionsport}"/>
		<input type="text" th:value="${etablissement.sectioninternationale}"/>
		<input type="text" th:value="${etablissement.sectioneuropeenne}"/>
		<input type="text" th:value="${etablissement.lyceeAgricole}"/>
		<input type="text" th:value="${etablissement.lyceemilitaire}"/>
		<input type="text" th:value="${etablissement.lyceedesmetiers}"/>
		<input type="text" th:value="${etablissement.postBAC}"/>
		<input type="text" th:value="${etablissement.appartenanceEducationPrioritaire}"/>
		<input type="text" th:value="${etablissement.greta}"/>
		<input type="text" th:value="${etablissement.sirenSIRET}"/>
		<input type="text" th:value="${etablissement.nombredeleves}"/>
		<input type="text" th:value="${etablissement.ficheonisep}"/>
		<input type="text" th:value="${etablissement.typecontratprive}"/>
		<input type="text" th:value="${etablissement.libelledepartement}"/>
		<input type="text" th:value="${etablissement.libelleacademie}"/>
		<input type="text" th:value="${etablissement.libelleregion}"/>
		<input type="text" th:value="${etablissement.coordonneeX}"/>
		<input type="text" th:value="${etablissement.coordonneeY}"/>
		<input type="text" th:value="${etablissement.epsg}"/>
		<input type="text" th:value="${etablissement.nomcirconscription}"/>
		<input type="text" th:value="${etablissement.latitude}"/>
		<input type="text" th:value="${etablissement.longitude}"/>
		<input type="text" th:value="${etablissement.precisionlocalisation}"/>
		<input type="text" th:value="${etablissement.dateouverture}"/>
		<input type="text" th:value="${etablissement.datemajligne}"/>
		<input type="text" th:value="${etablissement.etat}"/>
		<input type="text" th:value="${etablissement.ministeretutelle}"/>
		<input type="text" th:value="${etablissement.etablissementmultilignes}"/>
		<input type="text" th:value="${etablissement.rpiconcentre}"/>
		<input type="text" th:value="${etablissement.rpidisperse}"/>
		<input type="text" th:value="${etablissement.codenature}"/>
		<input type="text" th:value="${etablissement.libellenature}"/>
	</div>
	
</body>
</html>